# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Database
*.db

# Uploaded files + outputs
data/
output/

# Logs
*.log

# Celery temp files
celerybeat-schedule
